<h2>メモアプリ</h2>

<%= form_with model: @memo, local: true do |form| %>
  <div>
    <%= form.text_field :title, placeholder: "Write title here..."  %>
  </div>
<br>
  <div>
    <%= form.text_area :content, placeholder: "Write your memo here..." %>
  </div>
  <div>
    <%= form.submit "Save Memo" %>
  </div>
<% end %>

<h2>My Memos</h2>
<table>
  <tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>メモ</th>
    <th>削除</th>
  </tr>
  <% @memos.each do |memo| %>
    <tr>
      <td><%= memo.id %></td>
      <td><%= memo.title %></td>
      <td><%= memo.content %></td>
      <td><%= link_to '削除', memo_path(memo), data: { turbo_method: :delete } %></td>
    </tr>
  <% end %>
</table>
